html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

p {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    background-color: white;
    font-family: "Gilroy", sans-serif;
    font-size: 18px;
}

.container {
    max-width: 1310px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

address {
    font-style: normal;
}

.d-flex{
    display: flex;
}