.about{
    justify-content: space-between;

    @include maxw767{
        flex-direction: column;
    }

    &__experience{
        position: relative;
        max-width: 545px;
        width: 100%;
        height: 758px;
        background-repeat: no-repeat;
        background-size: cover;

        @include maxw767{
            max-width: 100%;
            height: 500px;
        }

        @include maxw576{
            height: 400px;
        }
    }

    &__years{
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 12px 34px 15px;
        width: 238px;
        height: 220px;
        background-color: #FFB800;
        color: white;
        font-size: 30px;

        @include maxw767{
            font-size: 25px;
            width: 180px;
            height: 180px;
        }
    }

    &__wrapper{
        padding-top: 142px;
        width: 100%;
        background-image: url("../../images/about-bg.jpg");
        background-repeat: no-repeat;
        background-position: right 375px;
        @include maxw767{
            padding: 35px 0 35px;
        }
    }

    &__box{
        margin: 0 auto;
        padding-left: 26px;
        max-width: 576px;
        width: 100%;

        @include maxw1205{
            padding: 0 15px;
        }
    }

    &__title{
        margin: 7px 0 27px 0;
        text-align: left;   
    }

    &__text{
        line-height: 25px;
        letter-spacing: 0.2px;
        color: #7c7c7c;
        &+&{
            margin-top: 27px;
        }
    }
}