.advantages {
    position: relative;
    margin-top: -176px;
    padding: 43px 0 49px;
    background: rgba(255, 255, 255, 0.1);

    @include maxw992{
        margin-top: 0;
        background-color: rgba(black, 0.7);
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        display: block;
        height: 100%;
        width: 100%;
        z-index: 0;
        filter: blur(7px);
        background-image: url("../images/hero.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom center;
        @include maxw992{
            content: none;
        }
    }

    &__inner {
        position: relative;
        justify-content: space-between;
        font-size: 20px;
        line-height: 28px;
        letter-spacing: 0.2px;
        font-weight: 600;
        color: white;
        z-index: 5;

        @include maxw992{
            flex-direction: column;
            align-items: center;
            color: $yellow;
        }
    }

    &__item {
        align-items: center;
        max-width: 180px;
        width: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right center;

        &+&{
            @include maxw992{
                margin-top: 35px;
            }
        }
    }
}