.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    color: white;
    &__top {
        background-color: rgba(0, 0, 0, 0.31);

        @include maxw767{
            display: none;
        }
    }

    &__address {
        height: 54px;
        justify-content: flex-end;
        align-items: center;
    }

    &__phone-list{
        margin-right: 105px;        
        font-size: 16px;
        letter-spacing: -0.2px;
    }

    &__phone-item {
        &+& {
            margin-left: 47px;
        }

        &:hover{
            opacity: 0.8;
        }
    }

    &__main{
        @include maxw992{
            background-color: rgba(0, 0, 0, 0.31);
        }
    }

    &__inner{
        justify-content: space-between;
        align-items: center;
        height: 80px;        
    }

    &__logo{
        margin-top: 3px;
    }

    &__nav{
        padding: 0 25px;
        max-width: 682px;
        width: 100%;
        overflow: hidden;

        @include maxw1205{
            max-width: 635px;
        }

        @include maxw992{
            display: none;
            position: absolute;
            top: 134px;
            left: 0;
            right: 0;
            z-index: 10;
            padding: 25px 0;
            max-width: 100%;
            width: 100%;
            height: calc(100vh - 134px);
            background-color: rgba(0, 0, 0, 0.3);

            &::before{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                overflow: hidden;
            }
        }

        @include maxw767{
            top: 80px;
            height: calc(100vh - 80px);
        }
    }

    &__list{
        justify-content: space-between;
        margin: 0 4px 0 -3px;
        letter-spacing: 1px;
        @include maxw992{
            flex-direction: column;
            align-items: center;
        }  
    }

    &__item, &__call{
        transition: color, 0.3s;
    }

    &__item{
        position: relative;        
        &::before{
            content: "";
            position: absolute;
            bottom: -10px;
            left: 0;
            width: 0;
            height: 3px;
            background-color: $orange;
            transition: width, 0.3s;
        }
        &:hover{
            color: $orange;
            &::before{
                width: 100%;
            }
        }

        @include maxw992{
            &+&{
                margin-top: 35px;
            }
        }
    }

    &__call{
        padding: 7px 16px 7px 14px;
        border: 2px solid $orange;
        color: $orange;
        font-family: "Gilroy", sans-serif;
        font-weight: 700;
        font-size: 16px;

        &:hover{
            color: white;
        }

        @include maxw576{
            padding: 5px 7px;
            font-size: 14px;
        }
    }

    &__menu{
        display: none;
        @include maxw992{
            display: block;
        }
    }
}